
*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: rgb(35, 38, 39);
    margin : 0.5rem 0.7rem 1rem;
    font-family: Futura, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: antialiased; 
}

.palette-container {
    /* padding: 1rem 1rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    overflow: visible;
   
}

#palette-heading {
    padding-bottom: 1rem;
    font-size: 2.4rem;
    letter-spacing: 0.2rem;
    font-weight: 500;
    text-transform: uppercase;
}

#all-colors {
    padding: 0.6rem 3rem;
    /* border-radius: 10px; */
    border: none;
    outline: none;
    text-align: center;
    /* margin-bottom: 1rem; */
}

.or,
.or2 {
    display: inline-block;
    
    margin-top: 1rem;
}

#colorCode {
    /* margin-bottom: 1rem; */
    min-width: 70px;
    padding: 0.25rem 0.85rem;
    border: 2px solid #fff;
    border-radius: 5px;
    background: none;
    color: #fff;
    /* margin-right: 0.3rem; */
    text-align: center;
    outline: none;
    position: relative;

}

#colorCode:hover {
    border: 2px solid orange;
    background: orange;
    transition: 0.6s ease-in-out;
}

.fa-solid .fa-circle-info {
    font-family: "Font Awesome 6.4 Free", Open Sans;
    font-weight:501;
}

label {
    margin-right: 0.4rem;
}

#input-search {
    margin-top: 1rem;
    padding: 0.6rem 1rem;
    border-radius: 8px;
    border: none;
    outline: none;
    text-align: center;
}

#btn-search,
#btnLoad {
    padding: 0.3rem 1.05rem;
    background: none;
    border-radius: 5px;
    color: #fff;
    border: 2px solid #fff;
    margin-left: 0.3rem;
    cursor: pointer;
}

#btn-search:hover,
#btnLoad:hover {
    border: 2px solid orange;
    background: orange;
    transition:  0.6s ease-in-out;
}

.info-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 0.2rem;
    background: none;
    border-radius: 50%;
    border: 1px solid #fff;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    position: relative;
}

.info-icon:hover {
    border-radius: 50%;
    border: 1px solid orange;
    background: orange;
    transition: background 0.6s ease-in-out;
}

/* .info-icon:hover .info-box {
    display: block;
    
} */

.info-box {
    display: none;
    position: absolute;
    top: 25%;
    left: 33%;
    background-color: rgb(69, 105, 113);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0,0,0,.2);
    max-width: 200px;
    min-width: 200px;
    z-index: 999;
    font-size: 14px;
    line-height: 1.5;
    transition: ease-out 0.6s;
}

.colors {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    max-width: 1200px;
}

.imageMatch-grid {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    place-content: center;
    place-items: center;
    
}

.image-gradient-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    max-width: 1200px;
    grid-column-gap: 0.1rem;

}

@media screen and (max-width: 900px) {
    .image-gradient-container {
        grid-template-columns: 1fr;
    }
}

.custom-image-upload {
    border: 2px solid #fff;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 6px;
    background-color: none;
}

.custom-image-upload:hover {
    border: 2px solid darkcyan;
    background: darkcyan;
    transition: background 0.6s ease-in-out;
}

input[type="file"] {
    display: none;
}

.imageSize {
    width: 100%;
    max-width: 1200px;
    height: 0;
    position: relative;
    
    
}

#canvas {
    width: 100%;
    height: 0;    
    top: 0;
    left: 0;
    border-radius: 6px;
    
}

form {
    margin: 20px;
    align-self: center;
    display:block;
    text-align: center;
    
}

.loader {
    pointer-events: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 0rem 0rem 1rem;
    
    border: 5px solid transparent;
    border-top-color: #fff;
    animation: an1 1.5s ease infinite;
}

@keyframes an1 {
    0% {
        transform: rotate(0turn);
    }
    50%{
        transform: rotate(2turn);
    }
    100% {
        transform: rotate(3turn);
    }
}

#palette {
    margin-bottom: 0.3rem;
}

#palette,
#complementary {
    display: flex;
    justify-content: center;
    
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    
}

#palette div,
#complementary div {
    height: 80px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    cursor: copy;
    
}

@media screen and (max-width: 468px) {
    #palette div,
    #complementary div {
        height: 85px;
        width: 85px;
    }
    
} 

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px 24px;
    background-color: #333;
    color: #fff;
    border-radius: 6px;
    border: 1px solid #fff;
    z-index: 9999;
}

.popup2 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px 24px;
    background-color: #333;
    color: #fff;
    border-radius: 6px;
    border: 1px solid #fff;
    z-index: 9999;
}

#palette div,
#complementary div {
    height: 80px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    cursor: copy;
    
    
}

@media screen and (max-width: 468px) {
    .colorcode-input-search {
        display: flex;
        flex-direction: column;
        position: relative;
    }
    #input-search {
        margin-bottom: 1rem;
    }
    
    #colorCode {
        margin-right: 0;
        padding: 0.45rem 0.85rem;
    }
    
    #btn-search {
        margin-left: 0;
        padding: 0.5rem 1.05rem;
    }
    
    #info-icon1 {
        position: absolute;
        top: 6%;
        left: -18%;
    }
    
    .or {
        margin-bottom: 1rem;
    }
    
}